# ignore src
src/
# ignore build files
build/
# ignore large output files and wandb files
output/
# collected_data/
wandb/

# ignore supplementary files
__pycache__/
.vscode/
alrd.egg-info/

# ignore jit and casadi files
*.c
*.so
*.o